<h1 mat-dialog-title>Hi!</h1>
<div mat-dialog-content>
    <form [formGroup]="form">
        <ul>
            <li>
                <p>First Name</p>
                <mat-form-field>
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstName">
                </mat-form-field>
            </li>
            <li>
                <p>Paternal Last Name</p>
                <mat-form-field>
                    <mat-label>Paternal Last Name</mat-label>
                    <input matInput formControlName="paternalLastName">
                </mat-form-field>
            </li>
        </ul>
        <ul>
            <li>
                <p>Maternal Last Name</p>
                <mat-form-field>
                    <mat-label>Maternal Last Name</mat-label>
                    <input matInput formControlName="maternalLastName">
                </mat-form-field>
            </li>
            <li>
                <p>DNI</p>
                <mat-form-field>
                  <mat-label>DNI</mat-label>
                    <input matInput formControlName="dni">
                  <mat-error *ngIf="form.controls['dni'].hasError('pattern')">
                    El DNI debe contener exactamente 8 números.
                  </mat-error>
                </mat-form-field>
            </li>
        </ul>
        <ul>
            <li>
                <p>Phone</p>
                <mat-form-field>
                    <mat-label>Phone</mat-label>
                    <input matInput formControlName="phone">
                    <mat-error *ngIf="form.controls['phone'].hasError('pattern')">
                        El teléfono debe contener exactamente 9 números.
                    </mat-error>
                </mat-form-field>
            </li>
            <li>
                <p>Email</p>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                </mat-form-field>
            </li>
        </ul>
    </form>
</div>
<div mat-dialog-actions class="actions">
    <button mat-button (click)="onNoClick()">Cancel</button>
<button mat-button [mat-dialog-close]="form.value" [disabled]="form.invalid">Save</button></div>
