ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-content: center;

}
.actions{
    display: flex;
    justify-content: end;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}