.container {
  text-align: center;
  color: black;
  padding: 20px;
  min-height: 100vh;
}

.header h1 {
  margin: 0;
  font-size: 2.5em;
}

.header h2 {
  margin: 10px 0 30px 0;
  font-size: 1.5em;
}

.search-bar {
  width: 50%;
  margin: 0 auto; /* Center the search bar */
}

.search-bar mat-form-field {
  width: 100%;
  background-color: #FFFFFF; /* Cambia el color de fondo aquí */
  border-radius: 5px; /* Redondea los bordes si lo deseas */
}

.search-bar input {
  color: black; /* Cambia el color del texto */
}

.search-bar .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #FFFFFF; /* Cambia el color de fondo del campo de entrada */
}

.search-bar .mat-form-field-appearance-fill .mat-form-field-underline .mat-form-field-ripple {
  background-color: #1ec089; /* Cambia el color del borde */
}

.search-bar button.mat-icon-button {
  color: #1ec089; /* Cambia el color del icono de búsqueda */
}
.container {
  padding: 20px;
}

.container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}


.search-bar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.search-field {
  width: 100%;
  max-width: 600px;
}

.categories {
  margin-top: 40px;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.category-card {
  width: 300px;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}

.category-card:hover {
  transform: translateY(-5px);
}

.category-card mat-card-header {
  background-color: #1ec089;
  padding: 10px;
}

.category-card mat-card-title {
  color: #000000;
  font-weight: bold;
}

.category-card mat-card-content {
  padding: 10px;
  background-color: rgba(255, 0, 0, 0);
}

.category-card mat-card-actions {
  padding: 10px;
  background-color: rgba(245, 245, 245, 0);
  text-align: right;
}

button.mat-button {
  color: #1ec089;
}