<h1 style="padding-left: 50px">
    List of Teachers
</h1>
<ul>
    <li><h2>Search</h2></li>
    <input [(ngModel)]="filterValue" (input)="applyFilter()" style="width: 300px; height: 25px">
    <li><button  (click)="openDialog()" class="button">ADD TEACHER</button></li>
</ul>
<div class="table">
    <table mat-table [dataSource]="filteredData" class="mat-elevation-z8 full-width ">
        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <!-- First Name Column -->
        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef> First Name </th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>
        <!-- Paternal Last Name Column -->
        <ng-container matColumnDef="paternalLastName">
            <th mat-header-cell *matHeaderCellDef> Paternal Last Name </th>
            <td mat-cell *matCellDef="let element"> {{element.paternalLastName}} </td>
        </ng-container>
        <!-- Maternal Last Name Column -->
        <ng-container matColumnDef="maternalLastName">
            <th mat-header-cell *matHeaderCellDef> Maternal Last Name </th>
            <td mat-cell *matCellDef="let element"> {{element.maternalLastName}} </td>
        </ng-container>
        <!-- DNI Column -->
        <ng-container matColumnDef="dni">
            <th mat-header-cell *matHeaderCellDef> DNI </th>
            <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
        </ng-container>
        <!-- Phone Column -->
        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef> Phone </th>
            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>
        <!-- Email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
                <a (click)="onEditItem(element)"><mat-icon>edit</mat-icon></a>
                <a (click)="onDeleteItem(element)" style="cursor: pointer;"><mat-icon>delete</mat-icon></a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>